.ProjectPreview {
	display: inline-block;
	overflow: hidden;
	width: 300px;
	height: 500px;
	margin-left: 24px;
	margin-right: 24px;
}

/* .ProjectPreview:hover {
	border: 1px solid #c0c0c0;
} */

/* .ProjectPreview:nth-child(1),
.ProjectPreview:nth-child(4) {
	margin-left: 0px;
} */


.PreviewDetails {
	margin-top: 24px;
} 


.Content {
	/* font-family: "Franklin Gothic"; */
	font-size: 14px;
}


img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.ProjImgContainer {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}