.ProjectPreview {
	margin-top: 20px;
	margin-bottom: 20px;
	/*padding-bottom: 10px;*/
	/*border: 1px solid #888;*/

	float: left;
	width: 21em;
	height: 20em;
	margin-left: 5px;
	margin-right: 5px;

	/*width: 20em;*/
	/*height: 20em;*/
	/*margin: 10px;*/
	/*border-radius: 5px;*/
	/*box-shadow: 1px 1px 2px 2px #C0C0C0;*/
}

.ProjectPreview:hover {
	border: 1px solid #c0c0c0;
	cursor: pointer;
}

.ProjectPreview:nth-child(1),
.ProjectPreview:nth-child(4) {
	margin-left: 0px;
}

.preview-details {
	text-align: left;
	height: 40%;
	padding: 10px;
	
	color: gray;
	background-color: white;

	/*color: #17252A;*/
}

.content {
	font-family: "Franklin Gothic";
	font-size: 13px;
}

.project-title {
	color: #3AAFA9;
}

img {
	width: 100%;
	height: 60%;
}
