.ProjectPreview {
	display: inline-block;
	overflow: hidden;
	width: 300px;
	height: 500px;
	margin-left: 36px;
	margin-right: 36px;
}

.ProjectPreview:hover .ProjectTitle {
	font-weight: 700;
	text-decoration: underline;
}


.PreviewDetails {
	margin-top: 24px;
} 


.Content {
	/* font-family: "Franklin Gothic"; */
	font-size: 14px;
}


img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.ProjImgContainer {
	width: 250px;
	height: 250px;
	margin: auto;
	border-radius: 50%;
	position: relative;
	box-shadow: rgba(0,0,0,.5) 3px 5px 5px;
}

.ProjImgContainer:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
}

.tint {
	position: relative;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  }
  
  .tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	background: rgba(0,0,0,.2);
  }

  .tint > img {
	  display: block;
  }

@media (max-width: 800px) {
	.ProjectPreview {
		margin-left: 24px;
		margin-right: 24px;
	}
}